@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin position($position, $top: auto, $right: auto, $bottom: auto, $left: auto, $zindex: auto) {
  position: $position;
  inset: $top $right $bottom $left;
  z-index: $zindex;
}

.achievements,
.credits {
  @include position(absolute, $left: 0, $zindex: 5);
  width: 100vw;
  height: 100vh;
  background-color: #222429;
  text-align: center;
  transition: 0.5s;
  overflow: hidden;

  h2 {
    margin: 1rem auto 0.5rem auto;
    padding: 0.5rem;
    margin: 0;
    font-family: "Grenze Gotisch", cursive;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
  }

  .close {
    @include position(absolute, 1rem, 1.5rem);
    background: none;
    border: none;
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 2.75rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: rgb(255, 213, 0);
    }
  }
}

.achievements {
  bottom: 100vh;
}

.achievements-list {
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 4rem 2rem;
  max-height: calc(100% - 11rem);
  max-width: 100%;
  padding-top: 3.5rem;
  margin: 1rem;
  border-top: 1px solid whitesmoke;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: initial;
    width: 0.7rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 3rem;
  }
}

.achievement {
  position: relative;
  @include flex(column, center, flex-start);
  min-width: 16rem;
  width: 35rem;
  max-width: 90%;
  padding: 1.5rem;
  padding-top: 8rem;
  border: 1px solid #444444;

  h3 {
    font-family: "Grenze Gotisch", cursive;
    margin: 0;
    margin-top: -0.5rem;
    font-size: 1.125rem;
  }

  &.bronze {
    border: 1px solid #9b6217;

    .star.bronze .bg1,
    .star.bronze .bg2::after {
      border-color: #9b6217;
    }

    .star.bronze img {
      filter: none !important;
    }

    .progress div {
      background-color: #979797;
    }
  }

  &.silver {
    border: 1px solid #979797;

    .star.silver .bg1,
    .star.silver .bg2::after {
      border-color: #979797;
    }


    .star.silver img {
      filter: none !important;
    }

    .progress div {
      background-color: #ffd500;
    }
  }

  &.gold {
    border: 1px solid #ffd500;

    .star.gold .bg1,
    .star.gold .bg2::after {
      border-color: #ffd500;
    }

    .star.gold img {
      filter: none !important;
    }
  }

  .banner {
    @include position(absolute, -1.5rem);
    @include flex(column, center, center);
    width: 100%;

    & > img {
      @include position(relative, $zindex: 1);
      height: 2.5rem;
      aspect-ratio: 1500/120;
      min-width: 15rem;
    }

    span {
      @include position(absolute, 0, $zindex: 2);
      font-family: "Grenze Gotisch", cursive;
      font-size: 1.25rem;
    }

    .stars {
      @include position(relative, -0.5rem);
      @include flex(row, center, center);
      gap: 2rem;
    }

    .star {
      position: relative;
      @include flex(column, center, center);

      &.bronze,
      &.silver {
        height: 2.5rem;
        margin-top: -1.5rem;
      }

      &.gold {
        height: 4rem;
      }

      img {
        position: absolute;
        height: 2.5rem;
        aspect-ratio: 1;
        margin-top: 0.7rem;
        filter: brightness(0) invert(12%) sepia(3%) saturate(2188%) hue-rotate(185deg) brightness(99%) contrast(95%);
      }

      .bg1 {
        position: relative;
        width: 3rem;
        height: 101%;
        border-left: 1px solid #222429;
        border-right: 1px solid #222429;
        background-color: #444444;

        &::after {
          content: "";
          @include position(absolute, 0, calc(-0.5rem + 0.5px), $zindex: -1);
          width: 4rem;
          height: calc(100% + 0.275rem);
          background-color: #444444;
        }
      }

      .bg2 {
        @include position(absolute, $left: 0.125rem, $bottom: -1.7rem, $zindex: -1);
        width: 2.81rem;
        height: 2.81rem;
        background-color: #444444;
        rotate: 45deg;

        &::after {
          content: "";
          @include position(absolute, $bottom: 0.5rem, $right: 0.5rem);
          width: 2.13rem;
          height: 2.13rem;
          border-bottom: 1px solid #222429;
          border-right: 1px solid #222429;
          background-color: #444444;
        }
      }
    }
  }
}

.progress {
  @include flex(column, flex-start, flex-start);
  border-radius: 1rem;
  background-color: #4a4a4a;
  width: 100%;
  height: 0.5rem;
  margin-top: 1rem;
  overflow: hidden;

  div {
    width: 0;
    height: 100%;
    border-radius: 1rem;
    background-color: #9b6217;
  }
}

.credits {
  top: 100vh;
}

.credits-list {
  @include flex(row, flex-start, space-evenly);
  width: 100%;
  height: 0.5rem;
  margin-top: 1rem;
  border-top: 1px solid white;

  h3 {
    margin-bottom: 1.125rem;
    padding: 0.25rem 1rem;
    font-family: "Grenze Gotisch", cursive;
    font-size: 1.875rem;
  }

  a {
    display: block;
    padding: 0.375rem 1rem;
    color: #1395ff;
    font-family: "Grenze Gotisch", cursive;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.credits .footer {
  @include position(absolute, $bottom: 0);
  width: 100vw;
  padding: 1.5rem 0;
  font-family: "Grenze Gotisch", cursive;
  font-size: 1.25rem;
  text-align: center;
}
