@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin position($position, $top: auto, $right: auto, $bottom: auto, $left: auto, $zindex: auto) {
  position: $position;
  inset: $top $right $bottom $left;
  z-index: $zindex;
}

.game {
  @include position(absolute, 0);
  height: 100%;
  aspect-ratio: 5/2;
  display: none;
  cursor: none;
}

.board {
  @include position(absolute, 0, $zindex: 2);
  @include flex(column, center, flex-start);
  width: 100vw;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0 0 0;
  display: none;
  transition: background 2s, padding 4s;

  &.game-over {
    background: black;
    height: 100vh;
    padding-top: 35vh;

    .game-over,
    .option {
      visibility: visible;
      opacity: 1;
    }

    .how-to-play {
      visibility: hidden;
      opacity: 0;
    }
  }

  .how-to-play {
    @include position(fixed, $bottom: 1.5rem);
    @include flex(row, center, center);
    flex-wrap: wrap;
    font-family: "Grenze Gotisch", cursive;
    font-size: 1.25rem;
    color: gray;
    visibility: visible;
    opacity: 1;
    transition: 2s;

    div {
      width: 100%;
      font-family: "Grenze Gotisch", cursive;
      font-size: 1.25rem;
    }

    .key {
      @include flex(column, center, center);
      width: 1.75rem;
      height: 1.65rem;
      margin: 0 0.5rem;
      padding-top: 0.1rem;
      border: 1px solid gray;
      border-radius: 0.5rem;
      font-size: 1.25rem;
    }
  }

  .option {
    margin-top: 3rem;
    visibility: hidden;
    opacity: 0;
    transition: 4s;
  }

  .game-over {
    font-family: "Grenze Gotisch", cursive;
    font-size: 5.5rem;
    margin-top: -9rem;
    color: red;
    visibility: hidden;
    opacity: 0;
    transition: 4s;
  }

  .wave,
  .wave span {
    font-family: "Grenze Gotisch", cursive;
    font-size: 3.25rem;
  }

  .killed-goblins,
  .killed-goblins span {
    font-family: "Grenze Gotisch", cursive;
    font-size: 1.25rem;
  }
}
