@import "helper_mixins";

* {
  font-size: 14px;
  font-family: "Noto Serif", serif;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;

  @include flex(column, center, center);
  max-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.snow-background {
  @include position(absolute, 0, $left: 0);
  background: #0000004d;
}
