@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin position($position, $top: auto, $right: auto, $bottom: auto, $left: auto, $zindex: auto) {
  position: $position;
  inset: $top $right $bottom $left;
  z-index: $zindex;
}

* {
  font-size: 14px;
  font-family: "Noto Serif", serif;
}

@media only screen and (max-width: 2000px) {
  html {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1650px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1350px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 816px) {
  html {
    font-size: 14px;
  }
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;

  @include flex(column, center, center);
  max-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  text-align: center;
  overflow: hidden;
}

main {
  position: relative;
  @include flex(column, center, center);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.snow-background {
  @include position(absolute, 0, $left: 0);
  background: #0000004d;
  width: 100%;
}
